*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@font-face {
  font-family: "Work_Sans_Bold" ;
  src: url(assets/Work_Sans/static/WorkSans-Medium.ttf);
}

:root{
  font-size: 10px;
}

/*|| Game container  */
header h1{
  font-family: "Work_Sans_Bold" ;
  text-align: center;
  font-size: calc(2rem + 1.5vw);
  height: 10vh;
  background: rgb(130,93,194);
  background: linear-gradient(142deg, rgba(130,93,194,1) 2%, rgba(135,209,127,1) 45%, rgba(73,192,217,1) 99%);
  display:flex;
  align-items: end;
  justify-content: center;
  padding: 1rem;

  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
}

.scoreContainer{
  font-family: "Work_Sans_Bold" ;
  padding-top: 1.5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}


/*||CardsArea  */

.cards_area{
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
  justify-content: center;
  
  margin-top: 7rem;
}
  img{
    max-width: 15vw;
    max-height: 40vh;
    border-radius: 20px;
    transition: all 0.2s ease
  }

  img:hover{
    transform: scale(1.01);
    -webkit-box-shadow: 0px 8px 31px -3px #000000; 
box-shadow: 0px 8px 31px -3px #000000;
    
  }

  .imageDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Work_Sans_Bold";
    font-size: 2rem;
  }

  /*||Gameover  */
  .gameover_container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: end;
    justify-content: center;
    top: 0;
    background-color: rgba(0, 0, 0, 0.61);
    
    
}

.card_gameover, .card_gameWon{
  width: 50vw;
  height: 30vh;
  bottom: 5vh;
  font-size: calc(2rem + 1.5vw);
  flex-direction: column;
  display: flex;
  align-items: center;
  font-family: monospace;
  margin-top: 5rem;
  justify-content: center;
  animation-name: showMessage;
animation-duration: 1s;
animation-timing-function: cubic-bezier(0, 0.57, 0.7, 0.78);
} 

.card_gameWon{
  font-weight: 800;
}

.message{
  font-family: monospace;
border-radius: 20px;

}

.restart {
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(69 198 55);
  margin-top: 2rem;
  padding: 0.5rem 5rem;
  transition: all 0.2s ease;

  
}

.restart:hover{
  transform: scale(1.01)
  
}

@keyframes showMessage {

  0%{
     opacity: 0
  }
  100%{
    opacity: 1

    
  }
}